/* Have fun coding :) */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

body {
  background-color:#d6e2f0;
  justify-content: center;
  align-items: center;
}

.qr-container {
  width: 250px;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 50px;
}

.qr-image img {
  width: 100%;
  border-radius: 10px;
}

.qr-desc {
  text-align: center;
}

.qr-desc h3 {
  font-family: 'IBM Plex Serif', serif;
}

.qr-desc p {
  font-family: 'Cormorant Garamond', serif;
}
